html, body {
  margin:0px;
  padding:0px;
  height:100%;
  width:100%;
}

#form {
  display : inline-block;
  width : 40%;
  height: 100%;
}

#couv {
  display: inline-block;
  float: right;
  position: relative;
  width: 40%;
  height: 100%;
  min-height: 100%;
}

#auteur {
  padding : 40px;
}

#h3 {
  padding : 0px;
  margin: 0px;
}

#block-titre {
  position: absolute;
  top : 50%;
  right: 5%;
  transform: translate(0%, -50%);
  text-align : right;
}


#titre1 {
  background : white;
}
#titre2 {
  background : white;
}

#soustitre {
  color : white;
}

#logo {
  float : bottom;
  position: absolute;
  top: 90%;
  padding : 10px;
}
